In [1]:
import os
import glob

In [2]:
len(glob.glob("trdg/newdatasetv3/*jpg"))

50000

In [4]:
len(glob.glob("trdg/Accrevo_datasetv3/train/*jpg"))

42500

In [6]:
len(glob.glob("trdg/Accrevo_datasetv3/test/*jpg"))

7500

In [7]:
import pandas as pd
import shutil
import glob 
import os
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [12]:
labels_df = pd.read_csv("./trdg/newdatasetv3/labels.txt", header=None, sep='\n')
len(labels_df)

50000

In [13]:
train, test = train_test_split(labels_df, test_size=0.15)

In [14]:
train

                                 0
31480        31480.jpg กรมโฆษณาการ
27494     27494.jpg อำเภอบางแม่นาง
23134        23134.jpg สมาคมมวยโลก
12841             12841.jpg เฉลี่ย
23257            23257.jpg บาดทรวง
...                            ...
34561                34561.jpg พยก
12589  12589.jpg เมืองเซนท์มอริทซ์
48368          48368.jpg เกาเหลียง
13459            13459.jpg ถูกต้อน
39061           39061.jpg บ้านไทไท

[42500 rows x 1 columns]

In [15]:
test

                                     0
31478               31478.jpg เทพธัญญ์
49672              49672.jpg เดชะปัญญา
14568               14568.jpg ลูกงมงาย
4644               4644.jpg เลดีโกไดวา
12783            12783.jpg เจนกิจณรงค์
...                                ...
26951           26951.jpg สภากาชาดสยาม
23765                    23765.jpg ชิค
12225                 12225.jpg อัลทรา
40112              40112.jpg อเมริักัน
6774   6774.jpg MONT CLAIR WHITE 5ltr.

[7500 rows x 1 columns]

In [17]:
%cd trdg/

/Users/sarmkunatham/Documents/GitHub/TextRecognitionDataGenerator_ct/trdg

In [18]:
def create_dataset(df, dst='train'):
    filenames = []
    texts = []
    for string in tqdm(df[0]):
        filename = string.split(None, 1)[0]
        text = string.split(None, 1)[1]
        source_path = os.path.join('newdatasetv3',filename)
        destination = os.path.join('Accrevo_datasetv3', dst)
        filenames.append(filename)
        texts.append(text)
        
        os.makedirs(destination, exist_ok=True)
        shutil.copyfile(source_path, os.path.join(destination, filename))

    new_df = pd.DataFrame(list(zip(filenames, texts)),columns =['filename', 'words'])
    new_df.to_csv(os.path.join(destination, 'labels.csv'), index=False)

create_dataset(test, 'test')
create_dataset(train, 'train')

100%|██████████| 7500/7500 [00:02<00:00, 2803.45it/s]
100%|██████████| 42500/42500 [00:13<00:00, 3222.01it/s]