In [1]:
import pandas as pd
import os 
import glob 
import numpy as np
from tqdm.notebook import tqdm
import shutil

In [2]:
directory = './TrainableData/'

In [3]:
filepaths = glob.glob(directory + '/*.jpg')

In [4]:
print(filepaths[:10])
print(len(filepaths))

['./TrainableData/9733.jpg', './TrainableData/110369.jpg', './TrainableData/161590.jpg', './TrainableData/14147.jpg', './TrainableData/86425.jpg', './TrainableData/52112.jpg', './TrainableData/108526.jpg', './TrainableData/139923.jpg', './TrainableData/89716.jpg', './TrainableData/63.jpg']
200000

In [6]:
label_df = pd.read_csv('./TrainableData/labels.csv')
label_df

          filename              words
0            0.jpg          analcimes
1            1.jpg            สตั๊ฟฟ์
2            2.jpg  บิชอปอาริงกาโรซ่า
3            3.jpg            ปิ่นลดา
4            4.jpg           Ageratum
...            ...                ...
199995  199995.jpg          เกาะเหนือ
199996  199996.jpg      buck-and-wing
199997  199997.jpg  เข้าศูนย์ มาสด้า2
199998  199998.jpg          anconagra
199999  199999.jpg         anagnostes

[200000 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train, test = train_test_split(label_df, test_size=0.2)

In [9]:
train

          filename                  words
21293    21293.jpg          สำนักงบประมาณ
156944  156944.jpg            brakemaking
143183  143183.jpg         abrenunciation
178185  178185.jpg                 batler
78235    78235.jpg                แอนิมัล
...            ...                    ...
41254    41254.jpg  aerobacteriologically
91612    91612.jpg                 คอลเกต
192748  192748.jpg              โจวเซวียน
72830    72830.jpg        พระเจ้าฟร็องซัว
98096    98096.jpg             สถานีหอวัง

[160000 rows x 2 columns]

In [10]:
test

          filename           words
102374  102374.jpg          alraun
41289    41289.jpg     กำลังสระเกศ
186343  186343.jpg            ใรอบ
79680    79680.jpg          เฟิร์ต
185464  185464.jpg         billard
...            ...             ...
164214  164214.jpg      articulacy
81027    81027.jpg            คูโร
30817    30817.jpg    bravehearted
101814  101814.jpg        blooding
166645  166645.jpg  เมืองกอโปชวาร์

[40000 rows x 2 columns]

In [11]:
os.makedirs('./dataset/', exist_ok=True)

In [12]:
test.to_csv('./dataset/test.csv', index=False)
train.to_csv('./dataset/train.csv', index=False)

In [15]:
for filename in tqdm(train['filename']):
    destination_path = os.path.join('./dataset/train', filename)
    source_path = os.path.join(directory, filename)
    shutil.copy(source_path, destination_path)

  0%|          | 0/160000 [00:00<?, ?it/s]

In [13]:
for filename in tqdm(test['filename']):
    destination_path = os.path.join('./dataset/test', filename)
    source_path = os.path.join(directory, filename)
    shutil.copy(source_path, destination_path)

  0%|          | 0/40000 [00:00<?, ?it/s]

In [14]:
check_test = glob.glob('./dataset/test/*')
len(check_test)

40001

In [16]:
check_train = glob.glob('./dataset/train/*')
len(check_train)

160001